
/*=======================================================

                ===   DEFAULT VALUES  ===

== FONTS ==
- font family       : Roboto Condensed

== COLORS ==
- Greenish Blue     : #34c6d3       (buttons, icons, links, lines, backgrounds)
- Steel Grey        : #41464b       (Headings)
- Blue Bayoux       : #64707b       (Paragraphs)
- White             : #fff          (text over dark backgrounds)
- Black             : #000
========================================================*/






/*=======================================================
-                         GENERAL
=======================================================*/

html, body {
    height: 100%;
}

body {
    font-family: "Roboto Condensed", sans-serif;
}

h3 {
    text-transform: uppercase;
    color: #41464b;
}

p {
    color: #64707b;
    font-size: 16px;
    font-weight: 300;
}

/*=======================================================
-                      HOME SECTION
=======================================================*/

#home {
    height: 100%;
}

#home-cover {
    height: 100%;
    background-image: url("../img/bg-home.jpg");
}

#home-content-box {
    width: 100%;
    height: 100%;
    display: table;
}

#home-content-box-inner {
    display: table-cell;
    vertical-align: middle;
}

#home-heading h3 {
    color: #fff;
    font-size: 55px;
    font-weight: 700;
    margin: 20px 0;
}

/*=======================================================
-                   SERVICES SECTION
=======================================================*/

.service-item {
    padding: 20px 0px;
    margin-bottom: 20px;
    cursor: pointer;
}

.service-item-icon {
    color: #34c6d3;
    float: left;
    padding: 15px;
    margin: 0 25px 2px 0;
    width: 75px;
    height: 75px;
    text-align: center;
}

.service-item:hover, .service-item:hover svg, .service-item:hover p, .service-item:hover h3 {
    color: #fff;
    transition: ease-in;
}

.service-item-title h3 {
    font-size: 20px;
    font-weight: 400;
    margin: 0 0 10px 0;
}

.service-item-description p {
    margin: 0;
    padding-left: 85px;
}

/*=======================================================
-                     ABOUT SECTION
=======================================================*/

#about-bg-diagonal {
    width: 60%;
    height: 700px;
    float: right;
    background-image: url(../img/bg-about.jpg);
    border-left: 200px solid white;
    border-top: 700px solid transparent;
}

#about-content-box {
    float: left;
    height: 700px;
}

#about-content-box-outer {
    width: 100%;
    height: 100%;
    display: table;
}

#about-content-box-inner {
    display: table-cell;
    vertical-align: middle;
}

#about .content-title h3 {
    text-align: left;
}

#about .content-title .content-title-underline {
    margin: 0 0 30px 0;
}

#about-description p {
    margin-bottom: 30px;
}

/*=======================================================
-                      WORK SECTION 
=======================================================*/

.row.no-gutters [class*=col-] {
    padding-left: 0px;
    padding-right: 0px;
}

.img-wrapper {
    overflow: hidden;
}

.img-wrapper img {
    transition: transform .5s ease;
}

.img-wrapper img:hover {
    transform: scale(1.5);
}

/*=======================================================
-                      TEAM SECTION 
=======================================================*/

/* note: styling for the social icons in the team members section is in SOCIAL ICONS section of CSS */

.team-member {
    margin: 0 15px;
}

.team-member-info {
    padding: 10px 0 30px 0;
}

h4.team-member-name {
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 2px;
    padding-top: 2px;
}

h4.team-member-designation {
    color: #34c6d3;
    font-size: 16px;
    font-weight: 700;
    font-style: italic;
    margin-top: 5px;
    letter-spacing: 2px;
}

.team-member img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.first-name {
    font-size: 26px;
}

/*=======================================================
-                 TESTIMONIALS SECTION
=======================================================*/

#testimonials-cover {
    background-image: url("../img/bg-testimonials-2.gif")
}

#testimonials .content-box {
    background-color: rgba(0, 0, 0, 0.8);
}

#customers-testimonials {
    padding: 50px 0;
}

.testimonial img {
    max-width: 120px;
    margin: 0 auto;
}

.testimonial blockquote {
    border: 0;
    font-family: Georgia, sans-serif;
    font-style: italic;
    color: #fff;
    padding: 6px 150px;
    position: relative;
}

.testimonial blockquote p {
    color: #fff;
}

.testimonial blockquote::before {
    content: "\201C";
    top: 0;
    left: 120px;
}

.testimonial blockquote::after {
    content: "\201D";
    bottom: 0;
    right: 120px;
}

.testimonial blockquote::after, .testimonial blockquote::before {
    font-size: 80px;
    font-style: normal;
    line-height: 1;
    width: 30px;
    height: 30px;
    position: absolute;
    color: #34c6d3;
}

.testimonial-author p {
    color: #fff;
    font-size: 17px;
}

.testimonial-author p strong {
    display: block;
    color: #34c6d3;
    letter-spacing: 1px;
}



/*=======================================================
-                   PRICING SECTION
=======================================================*/

.pricing-box {
    border: 3px solid #34c6d3;
    padding: 50px 0;
    margin: 40px 0;
}

.pricing-box-lg {
    padding: 90px 0;
    margin: 0;
    background-color: #34c6d3;
    box-shadow:  0 0px 70px 0 rgba(52, 198, 211, .7), 0 0px 0px 0 rgba(52, 198, 211, 1);
}

.pricing-box-lg h4.pricing-title {
    background-color: #fff;
    color: #34c6d3;

}

.pricing-box-lg span.amount {
    color: #fff;
}

h4.pricing-title {
    background-color: #34c6d3;
    color: #fff;
    display: inline-block;
    padding: 7px 15px;
    margin: 0 0 30px 0;
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
}

h3.pricing-value {
    font-size: 60px;
    font-weight: 700;
}

h3.pricing-value sup {
    font-size: 28px;
    font-weight: normal;
    vertical-align: super;
}

span.amount {
    color: #34c6d3;
    font-weight: 700;
}

ul.pricing-spec {
    list-style: none;
    padding-left: 0;
    margin: 20px 0 60px 0;
}

ul.pricing-spec li p {
    font-weight: 400;
    text-transform: uppercase;
}

.no-left-border {
    border-left: 0;
}

.no-right-border {
    border-right: 0;
}

/*=======================================================
-                     STATS SECTION
=======================================================*/
#stats-cover {
    background-image: url("../img/bg-stats-3.jpg");
}
#stats .content-box {
background-color: rgba(0, 0, 0, .8);
}
.stats-item svg{
    color: #34c6d3;
}

.stats-item {
    padding: 100px 0; 
}
.stats-item p{
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
 }

.stats-item h2 {
    font-size: 35px;
    font-weight: 700;

    margin-top: 15px;
    margin-bottom: 1px;
}

.stats-item span {
    color: rgb(10, 160, 10);
    letter-spacing: 1.5px;
} 

/*=======================================================
-                      CLIENTS SECTION 
=======================================================*/
.client {
    padding: 40px 0;
}

/*=======================================================
-                      SOCIAL ICONS 
=======================================================*/

/* social icons for team section */

.social-list {
    padding-left: 0;
}

.social-list li {
    list-style: none;
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 6px;
    margin-top: 10px;
}

.social-icon {
    font-size: 22px;
}

.first-name, .icon-grey {
    color: #64707b;
}

.social-icon:hover {
    color: #34c6d3;
}

/*=======================================================
-               PARALLAX SCROLL EFFECT
=======================================================*/

.bg-parallax {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

/*=======================================================
-                      ANIMATIONS
=======================================================*/

#home-cover, #home-heading, #home-button {
    animation-duration: .5s;
}

#home-cover {
    animation-delay: .1s;
}

#home-heading {
    animation-delay: .5s;
}

#home-button {
    animation-delay: 1s;
}

/*=======================================================
-                      BUTTONS
=======================================================*/

.btn-general {
    border-color: #fff;
    border-width: 2px;
    border-radius: 0;
    padding: 12px 26px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.3s;
    letter-spacing: 3px;
    font-style: italic;
}

.btn-white {
    color: #41464b;
    border-color: #fff;
}

.btn-blue {
    color: #41464b;
    border-color: #34c6d3;
}

.btn-blue:hover, .btn-blue:focus, .btn-white:hover, .btn-white:focus {
    background-color: #34c6d3;
    color: #fff;
}




/*=======================================================
-                      CONTENT
=======================================================*/

.content-box {
    padding: 60px 0;
}

.content-title h3 {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin: 0px 0px 10px 0px;
}

.content-title-white h3 {
    color: #fff;
}

.content-title-underline {
    color: #34c6d3;
    width: 30px;
    height: 3px;
    margin: 0 auto 50px auto;
}